 <!-- navbar -->
    <div class="navbar">
        <div class="navimg">
            <img src="images/logo.png" alt="logo">
        </div>
        <div class="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="whether.html">Know Whether</a></li>
            </ul>
        </div>
    </div>